<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    
    <title><%= _.capitalize(siteName) %></title>

	<!-- Include development or production CSS, depending on build -->
	<link rel="stylesheet" href="css/<%= _.slugify(siteName) %>.css">

</head>

<body>

	<h1><%= _.capitalize(siteName) %></h1>

	<!-- Popular libraries from Google CDN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>'); // Fallback if CDN is down.</script>
	
	<!-- Javascript packages -->
    <script-package src="common.js" />
</body>
</html>